DATABASE_URL=postgres://notification:notification@localhost:5432/notification?sslmode=disable
HTTP_ADDR=:8080
WORKER_COUNT=5

# Resend API key for real email delivery
RESEND_API_KEY=

# Auth0 Domain configuration (Public Config)
AUTH0_DOMAIN=dev-i6avz7x124upwug6.us.auth0.com

# Custom Sender Email (must be a verified domain in Resend)
EMAIL_FROM=no-reply@sanjayvelu.online
